<section class="management">
  <div class="container">
    <div class="description">
      <h2 class="management-title title">
        <span class="management-subtitle subtitle"
          >Effortless Validation for</span
        >
        Management
      </h2>
      <p class="management-text text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="management-list">
        <li class="management-item">
          <h3 class="subtitle-management subtitle">Accessory makers</h3>
          <p class="management-text text">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li class="management-item">
          <h3 class="subtitle-management subtitle">Alterationists</h3>
          <p class="management-text text">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <img
      class="management-img"
      src="./img/management-img.jpg"
      alt="management"
      width="540"
      height="500"
    />
  </div>
</section>
